*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog{
    display: flex;
    /* background-color: aqua; */
    max-width: 80rem;
    margin: auto;
    gap: 5rem;

}
.blog-left{
    max-width: 30rem;
    /* background-color: rgb(220, 26, 26); */
    height: rem;
}
.left1 span{
    width: 2rem;
    margin-right: -19rem;
    /* background-color: blue; */
}
.left1{
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content:left;

}
.text-1{
    margin-left: -8.8rem;
}
.left1>h1{
    font-size: 1.5rem;
    margin-left: -23.9rem;
}
.left1>img{
    width: 79%;
    height: 100%;
    margin-left: -8rem;
}
.text>h1{
font-size: 2rem;

}
.blog-right{
    
        max-width: 50rem;
        /* background-color: rgb(220, 26, 26); */
    
    
}
.r2{
    display: flex;
    flex-direction: column;
}
.r2>img{
    height: 50%;
    width: 100%;
}
.t2{
    margin-left: 0rem;
}
.c{
/* background-color: blue; */
margin-top: -22.2rem;
}
.p1>p{

}
.c{
    /* background-color: blueviolet; */
    margin-left: 8.8rem;
    /* width: 32rem; */
    margin-top: 1.5rem;
}
.p1>h1{
    font-size: 1rem;
}
.p1 span{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.e1>img{
    width: 100%;
    height: 100%;
}
.rightimg{
    width: 40rem;
}
.rightimg>img{
    object-fit: cover;
    width: 100%;
}